* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body { 
    background:rgb(27, 27,27);
}
.container {
    display: flex;
    justify-content: center;
}
.card {
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}
.card image {
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius:15px 15px 0px 0px ;
}
.sekil-1 {
    background-image: url("./istockphoto-1332176260-1024x1024");
}
.sekil-2 {
    background-image: url("./304829202_459597239424392_4069972650888186150_n");
}
.card p {
    padding:10px ;
}
.card a {
    background-color:black;
    color:white ;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card:hover  {
    background-color: rgb(62, 62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all;
}












