th {
    color: azure;
    background-color: black;
    
}
th:first-child{
    border-top-left-radius:10px ;
}
th:last-child {
border-top-right-radius:10px;
}
td {
    border: 1px solid bisque;
}
table {
    border-collapse:collapse;
}
tr:nth-child(even) {
    background-color: blue;

}
